.App {
    text-align: center;
    background-image: "/static/80s_neon.jpg";
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}
